<div class="card py-4">
  <span class="p-float-label p-input-icon-left flex">
    <i class="pi pi-search"></i>
    <input pInputText class="w-full" id="product" [(ngModel)]="value" />
    <label htmlFor="product">Enter product name here</label>
  </span>
</div>

<div class="card">
  <h1>Welcome to v1_Ticket_Sys</h1>
</div>

<div class="card">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="card flex flex-column gap-6">
      <span class="p-float-label p-input-icon-left flex">
        <i class="pi pi-user"></i>
        <input
          pInputText
          class="w-full"
          id="username"
          formControlName="username"
        />
        <label htmlFor="username">Username</label>
      </span>
      <span class="p-float-label p-input-icon-left flex">
        <i class="pi pi-check"></i>
        <input
          pInputText
          class="w-full"
          id="password"
          formControlName="password"
        />
        <label htmlFor="password">Password</label>
      </span>
      <div class="card flex justify-content-center">
        <span class="p-buttonset">
          <button
            pButton
            type="submit"
            [disabled]="!loginForm.valid"
            pRipple
            label="Save"
            icon="pi pi-check"
          ></button>
          <button
            pButton
            type="reset"
            pRipple
            label="Delete"
            icon="pi pi-trash"
          ></button>
          <button
            pButton
            type="reset"
            pRipple
            label="Cancel"
            icon="pi pi-times"
          ></button>
        </span>
      </div>
    </div>
  </form>
</div>
