
<!-- <div class="card flex flex-column align-items-center  justify-content-center">
  <h1>Welcome to PrimeNg Template</h1>
  <p-button label="Check" icon="pi pi-check"></p-button>
</div>
<div class="app-container">
  <div class="card">
    <a href="#">Click Here</a>
  </div>
</div> -->
<header>
    <app-navbar></app-navbar>
</header>

<main>
  <div class="container">
    <!-- <h1>Router Outlet Goes Here</h1> -->
    <div class="card py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="card">
      <div class="card flex align-items-center justify-content-center">
        <p>Copyright &copy; {{ 2023 }} - All Rights Reserved by <span class="font-semibold">Vrentservices.com</span></p>
      </div>
    </div>
  </div>
</footer>
